<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matematicon</title>
</head>
<link rel="stylesheet" href="styles.css">
<body>
    <div style="text-align: center; padding-top: 50px; padding: 20px; width: 270px; margin: 90px auto 0 auto; position: relative; left: -30px;">
        <img src="./imagens/logo indian.png" alt="logo">
        <a href="maximizar.html">
        <button class="button1" style="margin-top: 20px; height: 30px; width: 210px; padding: 5px; display: inline-block;">
        Maximizar
        </button>
        </a>
        <a href="minimizar.html">
        <button class="button1" style="margin-top: 20px; height: 30px; width: 210px; padding: 5px; display: inline-block;">
            Minimizar
        </button>
        </a>
        <a href="relatorios.html">
        <button class="button1" style="margin-top: 20px; height: 30px; width: 210px; padding: 5px; display: inline-block;">
            Relatórios
        </button>
        </a>
    </div>
</body>
</html>