<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Relatórios</title>
  </head>
  <link rel="stylesheet" href="styles.css">
  <body>
    <div class="superior" style="display: flex; align-items: center;">
      <a href="index.html" style="margin-left: 0px;">
      <img class="zoom" src="./imagens/logo indian.png" alt="logotipo" style="width: 200px; height: auto;">
      </a>
      <h2 style="position: absolute; left: 50%; transform: translateX(-50%); margin: 0;">
        RELATÓRIOS
      </h2>
      </a>
    </div>
  
    <table class="tabela">
      <thead>
        <tr>
          <th>Nome</th>
          <th style="width: 270px;">Horário</th>
          <th style="width: 200px;">Tamanho (Mb)</th>
          <th style="width: 200px;">Ações</th>
        </tr>
      </thead>
      <tbody>
        <!-- para colocar os dados aki -->
        <tr><td>&nbsp;</td><td></td><td></td><td></td></tr>
        <tr><td>&nbsp;</td><td></td><td></td><td></td></tr>
        <tr><td>&nbsp;</td><td></td><td></td><td></td></tr>
        <tr><td>&nbsp;</td><td></td><td></td><td></td></tr>
        <tr><td>&nbsp;</td><td></td><td></td><td></td></tr>
        <tr><td>&nbsp;</td><td></td><td></td><td></td></tr>
        <tr><td>&nbsp;</td><td></td><td></td><td></td></tr>
        <tr><td>&nbsp;</td><td></td><td></td><td></td></tr>
        <tr><td>&nbsp;</td><td></td><td></td><td></td></tr>
        <tr><td>&nbsp;</td><td></td><td></td><td></td></tr>
        <tr><td>&nbsp;</td><td></td><td></td><td></td></tr>
        <tr><td>&nbsp;</td><td></td><td></td><td></td></tr>
        <tr><td>&nbsp;</td><td></td><td></td><td></td></tr>
        <tr><td>&nbsp;</td><td></td><td></td><td></td></tr>
      </tbody>
    </table>
    <div class="inferior" style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 12px;">

  <button class="buttonazul" style="height: 25px; width: 230px; padding: 2px; text-align: center; margin-left: 40%; margin-right: 10px;">
    Importar
  </button>
    </div>
  </body>
</html>
